<div class="page-header">
  <h1>myルアーボックス</h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Top', root_path  %></li>
  <li class="active"><%= current_user.name %>さんのmyルアーボックス</li>
</ol>

<% if notice %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<div class="row">
  <div class="col col-md-12">
    <p><%= link_to 'myルアーを登録する&nbsp;&raquo;'.html_safe, new_users_lure_path, :class =>  'btn btn-primary' %></p>
  </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4>１軍ルアー</h4></div>
    <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>ルアー</th>
            <th>使い方</th>
            <th>コメント</th>
            <th>エリア</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @my_lures_1st.each do |my_lure| %>
              <tr>
                <td>
                  <%= link_to image_tag(my_lure.photo.url(:thumb)), my_lure %><br>
                  <%= link_to my_lure.lure.name, my_lure %><br>
                  <small><%= my_lure.color %></small>
                </td>
                <td><%= my_lure.method %></td>
                <td><%= my_lure.comment %></td>
                <td><%= my_lure.field %></td>
                <td><%= link_to '変更', edit_users_lure_path(my_lure), :class => 'btn btn-primary' %>
                <%= link_to '削除', my_lure, method: :delete, data: { confirm: '削除しますか？' }, :class => 'btn btn-danger' %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4>２軍ルアー</h4></div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>ルアー</th>
        <th>使い方</th>
        <th>コメント</th>
        <th>エリア</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @my_lures_2nd.each do |my_lure| %>
          <tr>
            <td>
              <%= link_to image_tag(my_lure.photo.url(:thumb)), my_lure %><br>
              <%= link_to my_lure.lure.name, my_lure %><br>
              <small><%= my_lure.color %></small>
            </td>
            <td><%= my_lure.method %></td>
            <td><%= my_lure.comment %></td>
            <td><%= my_lure.field %></td>
            <td><%= link_to '変更', edit_users_lure_path(my_lure), :class => 'btn btn-primary' %>
              <%= link_to '削除', my_lure, method: :delete, data: { confirm: '削除しますか？' }, :class => 'btn btn-danger' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4>押入れルアー</h4></div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>ルアー</th>
        <th>使い方</th>
        <th>コメント</th>
        <th>エリア</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @my_lures_3rd.each do |my_lure| %>
          <tr>
            <td>
              <%= link_to image_tag(my_lure.photo.url(:thumb)), my_lure %><br>
              <%= link_to my_lure.lure.name, my_lure %><br>
              <small><%= my_lure.color %></small>
            </td>
            <td><%= my_lure.method %></td>
            <td><%= my_lure.comment %></td>
            <td><%= my_lure.field %></td>
            <td><%= link_to '変更', edit_users_lure_path(my_lure), :class => 'btn btn-primary' %>
              <%= link_to '削除', my_lure, method: :delete, data: { confirm: '削除しますか？' }, :class => 'btn btn-danger' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



<%= link_to 'myルアーを登録する&nbsp;&raquo;'.html_safe, new_users_lure_path, :class =>  'btn btn-primary' %>

