<%= form_for (@users_lure), :html => {:class => 'form'} do |f| %>
<fieldset>

<!-- Form Name -->
  <% if @users_lure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_lure.errors.count, "error") %> prohibited this users_lure from being saved:</h2>
      <ul>
      <% @users_lure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="form-group">
    <%= f.label :lure_id %>
    <!-- <#%= f.autocomplete_field :lure , autocomplete_lure_name_users_lures_path, :class => 'form-control' %> -->
     <%= f.collection_select :lure_id, Lure.all, :id, :name, {}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :method %>
    <%= f.text_area :method, :class => "form-control", :placeholder => '河口で○○メソッドで使うことが多い。' %>
  </div>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, :class => "form-control", :rows => "5", :placeholder => 'あなたのルアーへの想いをコメントしてください。' %>
  </div>
  <div class="form-group">
    <%= f.label :priority %>
    <div>
      <% @users_lure.priority_list.each do |k,v| %>
        <label class="radio-inline" for="users_lure_priority_<%= k %>"><%= f.radio_button :priority, k %><%= v %></label>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :color %>
    <%= f.text_field :color, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :field %>
    <%= f.text_field :field, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
    <p class="help-block">アップする画像を選択してください。</p>
  </div>

  <%= f.button '<span class="glyphicon glyphicon-floppy-disk"></span> 保存する'.html_safe ,:class => "btn btn-primary" %>

</fieldset>

<% end %>
