<div class="page-header">
<h1>編集 - <%= current_user.name %>さんのルアー</h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Top', root_path  %></li>
  <li class="active"><%= @users_lure.lure.name %>（<%= @users_lure.user.name %>さん）</li>
</ol>

<%= render 'form' %>

<br>

<div class="row">
  <div class="col-md-12">
    <div class="btn-block">
      <ul class="list-inline">
        <li><%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span> 戻る'.html_safe, users_lure_path, :class => 'btn btn-default' %></li>
      </ul>
    </div>
  </div>
</div>
