<h1>Listing users_lures</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Lure</th>
      <th>Method</th>
      <th>Comment</th>
      <th>Priority</th>
      <th>Color</th>
      <th>Field</th>
      <th>Photo</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users_lures.each do |users_lure| %>
      <tr>
        <td><%= users_lure.user.email %></td>
        <td><%= users_lure.lure.name %></td>
        <td><%= users_lure.method %></td>
        <td><%= users_lure.comment %></td>
        <td><%= users_lure.priority %></td>
        <td><%= users_lure.color %></td>
        <td><%= users_lure.field %></td>
        <td><%= users_lure.photo %></td>
        
        <td><%= link_to 'Show', users_lure %></td>
        <td><%= link_to 'Edit', edit_users_lure_path(users_lure) %></td>
        <td><%= link_to 'Destroy', users_lure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users lure', new_users_lure_path %>
