<div class="page-header">
  <h1><%= @users_lure.lure.name %>（<%= @users_lure.user.name %>さん）</h1>
</div>

  <ol class="breadcrumb">
    <li><%= link_to 'Top', root_path  %></li>
    <li class="active"><%= @users_lure.lure.name %> | <%= @users_lure.user.name %>さん </li>
  </ol>

<% if notice %>
    <div id="notice" class="alert alert-success"><%= notice %></div>
<% end %>

<div class="row">

    <div class="col-md-6">
      <p>
        <%= image_tag @users_lure.photo.url, :width => '450', :class => 'img-thumbnail' %>
      </p>
    </div>

    <div class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">使い方</div>
        <div class="panel-body"><%= @users_lure.method %></div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">コメント</div>
        <div class="panel-body"><%= @users_lure.comment %></div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">利用頻度</div>
        <div class="panel-body"><%= @users_lure.priority_name %></div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">カラー</div>
        <div class="panel-body"><%= @users_lure.color %></div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">利用エリア</div>
        <div class="panel-body"><%= @users_lure.field %></div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">リンク</div>
        <div class="panel-body">
          <%= link_to '購入する', 'http://product.rakuten.co.jp/search/?search_mode=1&q=' + @users_lure.lure.name , :class => 'btn btn-default' %>
        </div>
      </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="btn-block">
        <ul class="list-inline">
            <% if current_user == @users_lure.user %>
            <li><%= link_to '<span class="glyphicon glyphicon-pencil"></span> 変更する'.html_safe, edit_users_lure_path(@users_lure), :class => 'btn btn-primary' %></li>
            <% end %>
            <li><%= link_to '<span class="glyphicon glyphicon-circle-arrow-left"></span> 戻る'.html_safe, root_path, :class => 'btn btn-default' %></li>
        </ul>
      </div>
    </div>
</div>