<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Lurebook', root_path, :class => "navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'カタログ',  lures_path %></li>
        <li><%= link_to 'メーカー',  makers_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><%= link_to('myルアー', {:controller => 'mylure' }, :class => 'signOut') %></li>
            <li><%= link_to(current_user.name, user_path(current_user), :class => 'signOut') %></li>
            <li><%= link_to('ログアウト', [ :destroy, :user_session ], :method => :delete, :class => 'signOut') %></li>
        <% else %>
        <li><%= link_to('ログイン', [ :new, :user_session ], :class => "singIn") %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
  
  


</nav>

<div class="container">
