<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Lurebook', root_path, :class => "navbar-brand"%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'ルアー登録', [ :new, :lure ] %></li>
        <li><%= link_to 'メーカー登録', [ :new, :maker ] %></li>
        <li><%= link_to 'ルアー一覧',  lures_path %></li>
        <li><%= link_to 'メーカー一覧',  makers_path %></li>
        <li><%= link_to 'ユーザ一覧',  users_path  %></li>
        <% if current_user %>
        <li><%= link_to('ログアウト', [ :destroy, :user_session ], :method => :delete, :class => 'signOut') %></li>
        <% else %>
        <li><%= link_to('ログイン', [ :new, :user_session ], :class => "singIn") %></li>
        <% end %> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
  
  


</nav>

<div class="container">
