<% if !current_user then %>
  <div class="jumbotron hero-spacer">
      <h1><%= image_tag('http://www.logomaker.com/logo-images/6a27bd42bcf9ddf7.gif', :size => "85x85" ,:alt => 'Lurebook') %>みんなでつくるルアーカタログ</h1>
      <p>あなたの持っているルアーを自慢しちゃいましょう！ついでにあなたのmyルアー整理もできちゃいます！！</p>
  </div>
  <p>Lurebookでは、フィールドでアングラー同士が自分のボックスのルアーを見せ合っている場面、釣具店のルアーコーナーで新作や今まで持ったことのないルアーに淡い期待を抱きながら、眺めている場面をWEBで実現したいと思っています。このサービスが長く生きることができれば、ルアーに関する情報を集合地として、未来に残すことができるサービスになれる夢もあります。アングラーの皆さんのモラルの高さと道具を愛する精神で、支えていただきたいサービス。それがLurebookです。</p>
  <%= link_to "ユーザー登録して参加する&nbsp;&raquo;".html_safe, new_registration_path(:user) ,:class => "btn-btn-primary" %>

<% else %>
  <div class="page-header">
    <div id="row">
      <div class="panel panel-info">
        <div class="panel-heading">Lurebookからのお知らせ　<strong>現在のルアーカタログ登録件数：<%= @all_lure_cnt %></strong></div>
        <div class="panel-body">
          <ul class="list-group">
              <% if current_user.avatar_file_name.blank? or current_user.profile.blank? then %>
              <li class="list-group-item"><span class="glyphicon glyphicon-info-sign">&nbsp;</span><%= link_to(current_user.name + 'さんのアバター、プロファイルを登録しませんか？', user_path(current_user)) %></li>
              <% end %>
            <li class="list-group-item"><span class="glyphicon glyphicon-hand-right">&nbsp;</span>まずは［ルアーを登録］でカタログにルアーを登録　⇒　次に［myルアーを登録］でmyルアーボックスにルアー追加しましょう！</li>
          </ul>
          <ul class="list-inline">
            <li><%= link_to 'ルアーを登録&nbsp;&raquo;'.html_safe, new_lure_path, :class => "btn btn-primary btn-sm" %></li>
            <li><%= link_to 'myルアーを登録&nbsp;&raquo;'.html_safe, new_users_lure_path, :class => "btn btn-primary btn-sm"  %></li>
            <li><%= link_to 'カタログを見る&nbsp;&raquo;'.html_safe, lures_path, :class => "btn btn-default btn-sm" %></li>
          </ul>
        </div>

      </div>

    </div>

  </div>
<% end %>


  <div class="row">
    <div class="col-lg-12">
      <h2>最近カタログ登録されたルアー</h2>
    </div>
  </div><!-- /.row -->

  <div class="row text-center">
    <% @new_lures.each do |new_lure| %>
        <div class="col-lg-3 col-md-4 col-sm-6 hero-feature">
          <div class="thumbnail">
            <%= image_tag new_lure.photo.url(:medium), :alt => new_lure.name %>
            <div class="caption">
              <h4><%= link_to new_lure.name, new_lure %></h4>
              <p>
                <span class="label label-default"><%= new_lure.kind_name %></span>
                <span class="label label-info"><%= new_lure.action %></span>
              </p>
              <p><%= truncate(new_lure.characteristic, :length => 80) %></p>
              <p>
                <%= link_to '見る', lure_path(new_lure), :class => "btn btn-primary" %>
                <%= link_to '買う', 'http://product.rakuten.co.jp/search/?search_mode=1&q=' + new_lure.name , :class => "btn btn-default", :target => '_blank' %>
              </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>


<div class="row">
  <div class="col-lg-12">
    <h2>最近登録されたmyルアー</h2>
  </div>
</div><!-- /.row -->

<div class="row text-center">
<% @new_users_lures.each do |new_my_lure| %>
    <div class="col-lg-3 col-md-4 col-sm-6 hero-feature">
      <div class="thumbnail">
        <%= image_tag new_my_lure.photo.url(:medium), :alt => new_my_lure.lure.name %>
        <div class="caption">
          <h4><%= link_to new_my_lure.user.name + "さんの" + new_my_lure.lure.name, new_my_lure %></h4>
          <p>
            <span class="label label-primary"><%= new_my_lure.priority_name %></span>
            <span class="label label-info"><%= new_my_lure.color %></span>
            <span class="label label-default"><%= new_my_lure.field %></span>
          </p>
          <p><%= truncate(new_my_lure.method + new_my_lure.comment, :length => 80) %></p>
          <p>
            <!--
            <%= link_to 'Like!', new_my_lure.lure.buy_link, :class => "btn btn-primary" %>
            <%= link_to 'Get!', new_my_lure.lure.buy_link, :class => "btn btn-primary" %>
            -->
            <%= link_to '買う', 'http://product.rakuten.co.jp/search/?search_mode=1&q=' + new_my_lure.lure.name , :class => "btn btn-primary", :target => '_blank' %>
          </p>
        </div>
      </div>
    </div>
<% end %>
</div>


<!-- My Lure -->
<div class="row">
  <div class="col-lg-12">
    <% if current_user then %>
    <h2><%= @user.name %>さんのmyルアー</h2>
    <% end %>
  </div>
</div><!-- /.row -->

<!-- My Lure List -->
<div class="row text-center">
  
<% if current_user then %>

      <% @my_lures.each do |my_lure| %>
          <div class="col-lg-3 col-md-4 hero-feature">
            <div class="thumbnail">
              <%= image_tag my_lure.photo.url(:medium), :alt => my_lure.lure.name %>
              <div class="caption">
                <h4><%= my_lure.lure.name %></h4>
                <p>
                  <span class="label label-primary"><%= my_lure.priority_name %></span>
                  <span class="label label-info"><%= my_lure.color %></span>
                  <span class="label label-default"><%= my_lure.field %></span>
                </p>
                <p><%= truncate(my_lure.method + my_lure.comment, :length => 80) %></p>
                <p><%= link_to '変更', edit_users_lure_path(my_lure), :class => "btn btn-primary" %></p>
              </div>
            </div>
          </div>
      <% end %>
  
</div><!-- /.row -->
<!-- /Lure List -->
<hr>

<div class="row">
  <div class="col-lg-12">
    <h2>他のアングラーの同じルアー</h2>
  </div>
</div><!-- /.row -->  

<!-- Same Lure List -->
<div class="row text-left">
  <table class="table">
    <thead>
      <tr>
        <th>ルアー</th>
        <th>アングラー</th>
        <th>使い方</th>
        <th>エリア</th></tr>
    </thead>
    <tbody>
    <% @same_lure_users.each do |same_lure_user| %>  
    <tr>
      <td><%= image_tag same_lure_user.lure.photo(:thumb) %><br><%= same_lure_user.lure.name %></td>
      <td><%= same_lure_user.user.name %></td>
      <td><%= same_lure_user.method %></td>
      <td><%= same_lure_user.field %></td>
    </tr>
    <% end %>
    </tbody>
</table>
</div><!-- /.row --><!-- Same Lure List -->

<% end %>

<hr>

