<% if !current_user then %>
<p><%= link_to 'ログイン', [ :new, :user_session ] %></p>
<p><%= link_to 'ユーザー登録', [ :new, :user_registration ] %></p>
<p><%= link_to 'パスワード再発行', [ :new, :user_password ] %></p>
<% end %>

<% if current_user then %>
<h2><%= @user.email %>さんのLurebook</h2>
<p><%= link_to '自分のルアーを登録', new_users_lure_path %></p>
<table>
    <th>Lure</th>
    <th>Method</th>
    <th>Comment</th>
    <th>Priority</th>
    <th>Color</th>
    <th>Field</th>
    <th>Photo</th>
    <th></th>
    <th></th>
<% @lures.each do |lure| %>
  <tr> 
    <td><%= lure.lure.name %></td>
    <td><%= lure.method %></td>
    <td><%= lure.comment %></td>
    <td><%= lure.priority %></td>
    <td><%= lure.color %></td>
    <td><%= lure.field %></td>
    <td><%= lure.photo %></td>
    <td><%= link_to 'Edit', edit_users_lure_path(lure) %></td>
    <td><%= link_to 'Destroy', lure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>  
<% end %>

<h2>同じルアーを持っているアングラー</h2>
<table>
  <th>名前</th>
  <th>ルアー</th>
  <th>メソッド</th>
  <th>エリア</th>
<% @same_lure_users.each do |same_lure_user| %>
  <tr>
    <td><%= same_lure_user.user.email %></td>
    <td><%= same_lure_user.lure.name %></td>
    <td><%= same_lure_user.method %></td>
    <td><%= same_lure_user.field %></td>
  </tr>
  
<% end %>
</table>