<div class="jumbotron hero-spacer">
  <% if !current_user then %>
  <h1><%= image_tag('http://www.logomaker.com/logo-images/cc4c2c102da6f6ea.gif', :size => "85x85" ,:alt => 'Lurebook') %>The Best Lure Practices</h1>    
  <p>あなたの持っているルアーを共有しちゃいましょう！</p>
  <p><%= link_to 'ログイン', [ :new, :user_session ], :class => "btn btn-primary btn-large" %></p>
  <p><%= link_to 'ユーザー登録', [ :new, :user_registration ], :class => "btn btn-primary btn-large"  %></p>
  <p><%= link_to 'パスワード再発行', [ :new, :user_password ], :class => "btn btn-primary btn-large"  %></p>
  <% else %>
  <div class="bs-top-callout">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class='lead'>あなたのルアー、そのルアーの使い方を登録しましょう！</p>
        </div>
        <div class="col-md-3">
          <div id="social-sharing">
            <p><%= link_to '自分のルアーを登録', new_users_lure_path, :class => "btn btn-primary btn-large"  %></p>  
          </div>
        </div>
      </div>
    </div>
  </div>  
  <% end %>

</div>

<div class="row">
  <div class="col-lg-12">
    <% if current_user then %>
        <h3>最近登録されたルアー</h3>
    <% end %>
  </div>
</div><!-- /.row -->

<div class="row text-center">
<% @new_users_lures.each do |new_lure| %>
    <div class="col-lg-3 col-md-4 hero-feature">
      <div class="thumbnail">
        <%= image_tag new_lure.photo.url(:medium), :alt => new_lure.lure.name, :size => '800x500' %>
        <div class="caption">
          <h3><%= new_lure.lure.name %> (<%= new_lure.user.name %>さん)</h3>
          <p>使い方：<%= new_lure.method %></p>
          <p>コメント：<%= new_lure.comment %></p>
          <p>頻度：<%= new_lure.priority %></p>
          <p>カラー：<%= new_lure.color %></p>
          <p>フィールド：<%= new_lure.field %></p>
          <p>
            <%= link_to 'Like!', new_lure.lure.buy_link, :class => "btn btn-primary" %>
            <%= link_to 'Get!', new_lure.lure.buy_link, :class => "btn btn-primary" %>
            <%= link_to 'Buy', new_lure.lure.buy_link, :class => "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
<% end %>
</div>


<!-- My Lure -->
<div class="row">
  <div class="col-lg-12">
    <% if current_user then %>
    <h3><%= @user.email %>さんのLurebook</h3>
    <% end %>
  </div>
</div><!-- /.row -->

<!-- My Lure List -->
<div class="row text-center">
  
<% if current_user then %>

      <% @my_lures.each do |my_lure| %>
          <div class="col-lg-3 col-md-4 hero-feature">
            <div class="thumbnail">
              <%= image_tag my_lure.photo.url(:medium), :size => '800x500', :alt => my_lure.lure.name %>
              <div class="caption">
                <h3><%= my_lure.lure.name %></h3>
                <p><%= my_lure.method %> <%= my_lure.comment %></p>
                <p><%= my_lure.comment %></p>
                <p><%= my_lure.priority %></p>
                <p><%= my_lure.color %></p>
                <p><%= my_lure.field %></p>
                <p><%= link_to 'Edit', edit_users_lure_path(my_lure), :class => "btn btn-primary" %> <%= link_to 'Destroy', my_lure, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %></p>
              </div>
            </div>
          </div>
      <% end %>
  
</div><!-- /.row -->
<!-- /Lure List -->
<hr>
  
<div class="row">
  <div class="col-lg-12">
    <h3>同じルアーを持っているアングラー</h3>
  </div>
</div><!-- /.row -->  

<!-- Same Lure List -->
<div class="row text-center">
  <table class="table">
    <thead>
      <tr><th>Email</th><th>Lure Name</th><th>Method</th><th>Field</th></tr>
    </thead>
    <tbody>
    <% @same_lure_users.each do |same_lure_user| %>  
    <tr>
      <td><%= same_lure_user.user.name %></td>
      <td><%= same_lure_user.lure.name %></td>
      <td><%= same_lure_user.method %></td>
      <td><%= same_lure_user.field %></td>
      <td><%= image_tag same_lure_user.user.avatar.url(:thumb) %></td>
    </tr>
    <% end %>
    </tbody>
</table>

</div><!-- /.row --><!-- Same Lure List -->

<% end %>

<hr>

