<%= form_for (@maker), :html => {:class => 'form'} do |f| %>
<fieldset>

  <% if @maker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maker.errors.count, "error") %> prohibited this maker from being saved:</h2>

      <ul>
      <% @maker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control', :placeholder => 'DAIWA' %>
    <p class="help-block">メーカー名は、社名ではなく、ルアーメーカーとしてのブランド名で登録お願いします。</p>
  </div>
  <div class="form-group">
    <%= f.label :web_url %><br>
    <%= f.text_field :web_url, :class => 'form-control', :placeholder => 'http://daiwa.globeride.co.jp/' %>
    <p class="help-block">ルアーメーカーのWEBサイトがあれば、URL（アドレス）を入力してください。</p>
  </div>
  <div class="form-group">
    <%= f.label :logo %><br />
    <%= f.file_field :logo %>
    <p class="help-block">アップする画像を選択してください。メーカーサイトなどでロゴ画像をダウンロードして指定お願いします。</p>
  </div>

  <br>

  <%= f.button '<span class="glyphicon glyphicon-floppy-disk"></span> 保存する'.html_safe ,:class => "btn btn-primary" %>

</fieldset>

<% end %>
