<div class="page-header">
  <h1>メーカー一覧</h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Top', root_path  %></li>
  <li class="active">メーカー一覧</li>
</ol>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <p><%= link_to '登録されていないメーカーを登録&raquo;'.html_safe, new_maker_path, :class => 'btn btn-primary' %></p>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ロゴ</th>
      <th>メーカー名</th>
      <th>WEBサイト</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @makers.each do |maker| %>
      <tr>
        <td><%= link_to image_tag( maker.logo.url(:thumb)), maker %></td>
        <td><%= maker.name %></td>
        <td><%= maker.web_url %></td>
        <td>
          <%= link_to '変更', edit_maker_path(maker), :class => 'btn btn-primary' %>
          <%= link_to '削除', maker, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @makers, renderer: BootstrapPagination::Rails, :previous_label => '≪', :next_label => '≫' %>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <p><%= link_to '登録されていないメーカーを登録&raquo;'.html_safe, new_maker_path, :class => 'btn btn-primary' %></p>
  </div>
</div>
