<%= form_for (@lure), :html => {:class => 'form'} do |f| %>
<fieldset>

  <% if @lure.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(@lure.errors.count, "error") %> prohibited this lure from being saved:</h2>

      <ul>
      <% @lure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :maker %>
    <%= f.collection_select :maker_id, Maker.all, :id, :name, {} ,{:class => 'form-control'} %>
    <p class="help-block">メーカーは、登録されているメーカーから選択します。登録したいルアーのメーカーが一覧にない場合は、<%= link_to '≪こちら≫', new_maker_path %>からまずメーカー情報を登録してください。</p>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "ルアーの名前を登録してください" %>
  </div>
  <div class="form-group">
    <%= f.label :name_kana %>
    <%= f.text_field :name_kana, :class => "form-control", :placeholder => "ルアーのフリガナを登録してください" %>
  </div>
  <div class="form-group">
    <%= f.label :genre %>
    <%= f.select :genre ,  @lure.genre_list.map {|k,v| [v,k] }, {}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :kind %>
    <%= f.select :kind,  @lure.kind_list.map {|k,v| [v,k] }, {}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :action %>
    <%= f.text_field :action, :class => "form-control", :placeholder => "ローリング、ウォブリングなど" %>
  </div>
  <div class="form-group">
    <%= f.label :release_year %>
    <%= f.text_field :release_year, :class => "form-control", :placeholder => Time.now.year %>
    <p class="help-block">発売年を西暦で入力</p>
  </div>

  <div class="form-group">
    <%= f.label :history %>
    <%= f.text_area :history ,:rows => '5', :class => 'form-control' %>
    <p class="help-block">このルアーの歴史が分かるように入力</p>
  </div>
  <div class="form-group">
    <%= f.label :characteristic %>
    <%= f.text_area :characteristic ,:rows => '5', :class => 'form-control' %>
    <p class="help-block">このルアーの特徴などを入力</p>
  </div>


  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price , :class => 'form-control'%>
    <p class="help-block">単位（円） で数字のみ入力</p>
  </div>
  <div class="form-group">
    <%= f.label "レンジ（浅～深）" %>
    <div class="row">
      <div class="col-xs-4">
        <%= f.number_field :range_top, :class => 'form-control', :placeholder => '15' %>
      </div>
      <div class="col-xs-1">
        <p class="text-center">～</p>
      </div>
      <div class="col-xs-4">
        <%= f.number_field :range_btm, :class => 'form-control', :placeholder => '40' %>
        </div>
    </div>
    <p class="help-block">単位[cm]でトップ、ボトムの順で入力</p>
  </div>
  <div class="form-group">
    <%= f.label :std_hook %>
    <%= f.number_field :std_hook, :class => 'form-control', :placeholder => '4' %>
    <p class="help-block">標準フックサイズで数字のみ入力</p>
  </div>
  <div class="form-group">
    <%= f.label :weight %>
    <%= f.number_field :weight, :class => 'form-control', :placeholder => '4' %>
    <p class="help-block">単位[g]でルアーウェイトを入力</p>
  </div>
  <div class="form-group">
    <%= f.label :distance %>
    <%= f.number_field :distance, :class => 'form-control', :placeholder => '40' %>
    <p class="help-block">単位[m]で数字のみ入力</p>
  </div>
  <div class="form-group">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
    <p class="help-block">アップする画像を選択してください。</p>
  </div>
  <div class="form-group">
    <%= f.label :movie_url %><br />
    <%= f.text_field :movie_url, :class => "form-control", :placeholder => "http://xxxx.co.jp/xxxx/" %>
    <p class="help-block">リンクさせる動画のアドレスを入力してください</p>
  </div>

  <br>

  <%= f.button '<span class="glyphicon glyphicon-floppy-disk"></span> 保存する'.html_safe ,:class => "btn btn-primary" %>


</fieldset>
<% end %>

