<%= form_for (@lure), :html => {:class => 'form'} do |f| %>
<fieldset>

  <% if @lure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lure.errors.count, "error") %> prohibited this lure from being saved:</h2>

      <ul>
      <% @lure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :maker %>
    <%= f.collection_select :maker_id, Maker.all, :id, :name, {} ,{:class => 'form-control'} %>
    <p class="help-block">メーカーは、登録されているメーカーから選択します。登録したいルアーのメーカーが一覧にない場合は、<%= link_to 'こちら', new_maker_path %>からまずメーカー情報を登録してください。</p>
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control", :placeholder => "ルアーの名前を登録してください" %>
  </div>
  <div class="form-group">
    <%= f.label :genre %>
    <%= f.select :genre , [["seabass", "seabass"],["bass", "bass"]], {}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :kind %>
    <%= f.select :kind, [["フローティングミノー","フローティングミノー"],["バイブレーション","バイブレーション"],["シンキングペンシル","シンキングペンシル"]], {}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price , :class => 'form-control'%>
    <p class="help-block">単位（円） で数字のみ入力</p>
  </div>
  <div class="form-group">
    <%= f.label :weight %>
    <%= f.number_field :weight, :class => 'form-control', :placeholder => '14.5' %>
    <p class="help-block">単位（g） で数字のみ入力</p>
  </div>
  <div class="form-group">
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
    <p class="help-block">アップする画像を選択してください。</p>
  </div>
  <div class="form-group">
    <%= f.label :buy_link %><br>
    <%= f.text_field :buy_link, :class => 'form-control', :placeholder => 'http://www.rakuten.co.jp/xxxx/xxxx' %>
  </div>

  <br>

  <%= f.button '<span class="glyphicon glyphicon-floppy-disk"></span> 保存する'.html_safe ,:class => "btn btn-primary" %>


</fieldset>
<% end %>

