<div class="page-header">
  <h1>ルアーカタログ</h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to 'Top', root_path  %></li>
  <li class="active">ルアーカタログ</li>
</ol>

<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <p><%= link_to '新しいルアーを登録する&nbsp;&raquo;'.html_safe, new_lure_path, :class =>  'btn btn-primary' %></p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 text-right">
    <%= search_form_for @search , :html => {:class => 'form-inline'} do |f|%>
        <div class="input-group">
            <%= f.text_field :name_or_name_kana_cont,:class => 'form-control', :placeholder => 'ルアーの名前、カナ' %>
            <span class="input-group-btn">
            <%= f.submit '検索', :class => 'btn btn-primary' %>
            </span>
        </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>名前</th>
      <th>タイプ</th>
      <th>メーカー</th>
      <th>アクション</th>
      <th>レンジ・飛距離</th>
      <th>フックサイズ・重量</th>
      <th>価格</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lures.each do |lure| %>
      <tr>
        <td><%= link_to image_tag(lure.photo.url(:thumb)), lure %><br><%= link_to(lure.name, lure) %></td>
        <td><%= lure.genre_name %><br><%= lure.kind_name %></td>
        <td><%= lure.maker.name %></td>
        <td><%= lure.action %></td>
        <td><%= lure.range_top %>～<%= lure.range_btm %>m<br><%= lure.distance %>g</td>
        <td>#<%= lure.std_hook %><br><%= lure.weight %>g</td>
        <td><%= number_with_delimiter lure.price %>円</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= will_paginate @lures, renderer: BootstrapPagination::Rails, :previous_label => '≪', :next_label => '≫' %>

<p><%= link_to '新しいルアーを登録する&nbsp;&raquo;'.html_safe, new_lure_path, :class =>  'btn btn-primary' %></p>
